@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --prime-color: #f41a4a;
  --dark-color: #111a24;
  --black-color: #000;
  --white-color: #fff;
  --sec-font: "Montserrat", sans-serif;

  --transition: .3s;
  --transition2: .6s;
}
body {
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5% 12%;
}
header {
  width: 100%;
  padding: 2% 12%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 70px;
  padding: 0 3%;
  border-radius: 50px;
  border: 1px solid var(--dark-color);
  position: fixed;
  top: 3%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
.logo img {
  width: 100%; 
  max-width: 65px;
  transition:3s;
}
.logo img:hover {
  transform: rotate(360deg);
}
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu li a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark-color);
  transition: var(--transition);
}
.menu li a:hover {
  color: var(--prime-color);
}
.bars {
  display: none;
}
/* hero header */
.hero-header {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 12%;
  gap: 50px;
}
.hero-img {
  width: 35%;
}
.hero-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.hero-content h2 {
  font-size: 2rem;
  color: var(--prime-color);
  font-weight: 500;
}
.hero-content h1 {
  font-size: 5rem;
  line-height: 6rem;
  font-family: var(--sec-font);
  color: var(--dark-color);
}
.hero-content h3 {
  margin: 10px 0;
  font-size: 1.7rem;
  font-weight: 600;
}
.hero-content h3 span {
  color: var(--prime-color);
}
.hero-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
button {
  width: 150px;
  height: 50px;
  border: 1px solid var(--dark-color);
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.3s ease;
}
button:hover {
  background-color: var(--prime-color);
  color: var(--white-color) ;
  font-size: 1rem;
}
.hero-btns button:last-child {
  background-color: var(--prime-color);
}